#desc{
	font-family: 'Patrick Hand', cursive;
	text-shadow: 1px 1px 1px #ced1d6;
	font-size:20px;
}

#brandBtn {
	color: white;
	background-color: black;
	font-size: 25px;
	font-family: 'Piedra', cursive;
	padding: 3px 6px;
}



#addnewitem{
	margin-left: 225px;
}

#boughtBtn{
	display: inline;
}

#favBtn{
	display:inline;
}

#loginas{
	color: white;
	text-shadow: 1px 1px 1px black;
}


.navbtn{
	background-color:black;
	color: white;
}

.pagename {
		text-shadow: 2px 2px 1px white;
		color: black;
}



.deletebtn{
	display: inline;
}

 .img-thumbnail{
	width: 30%;
	margin: 0 auto;
	opacity:0.95;
	
}

 .bought{
	color: grey;
	opacity: 0.45;
}


.navbtnhover {
	font-size:17px;
	color:white;
}

.btn {
	font-family: 'Chelsea Market', cursive;
}

.top{
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	font-size: 20px;
}

.price {
	color:#f05dce;
	text-shadow: 2px 2px 2px black;
}

.login {
	width: 90px;
}

.signup {
	width: 90px;
}


.username, .password {
	width: 300px;
	margin-left: 120px;
}

.username:focus , .password:focus{
	border: 3px solid #65bdfc;
	
}

.sidebar{
	opacity: 0.7;
}

.sidebar a{
	color:black;
	font-family: 'Nanum Pen Script', cursive;
	font-size:25px;
	text-transform: uppercase;
}

 .resize{
	max-width:95%;
	max-height:95%;
} 

.smallpic{
	max-width:25%;
	max-height:25%;
}

.fa-star{
	color:#edd142;
	font-size:25px;
}


button .fa-star{
	color:#edd142;
	font-size:20px;
}
body{
    /* background-color: rgb(244,239,241);
    background-color: radial-gradient(circle, rgba(244,239,241,1) 0%, rgba(238,174,202,1) 96%);	 */
	background-image:url('https://images.pexels.com/photos/172277/pexels-photo-172277.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
	 background-size:cover;
	background-repeat: no-repeat;
	background-position: center; 
}

h1{
	font-family: 'Bangers', cursive;	
}

input:focus{
	border: 2.5px solid #2877f7 !important;
}

a{
	color: black;
}

a:hover{
	text-decoration: underline:
	color: white;
}

@media (max-width: 992px) {
    .sidebar a{
	font-size:20px;
	}
	
}




