/* body{
		 background-image:url('https://images.unsplash.com/photo-1534265618661-adfe32dfe515?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'); 
		 background-size: cover; 
		 background-position: center;
		 background-repeat: no-repeat;
}
 */
#desc{
	font-family: 'Patrick Hand', cursive;
}

#brandBtn {
	color: white;
	background-color: black;
	font-size: 25px;
	font-family: 'Piedra', cursive;
	padding: 3px 6px;
}


.pagename {
		text-shadow: 2px 2px 2px #797b7d;
		color: black;
	}
.deletebtn{
	display: inline;
}

.img-thumbnail {
	height: 100%;
}


.bought{
	color: grey;
	opacity: 0.5;
}



.navbar-light .navbar-nav .nav-link {
	color: black;
}


.btn {
	font-family: 'Chelsea Market', cursive;
}

.top{
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	font-size: 20px;
}

.price {
	color:#f05dce;
}

.login {
	width: 90px;
}

.signup {
	width: 90px;
}


.username, .password {
	width: 300px;
	margin-left: 120px;
}

.username:focus , .password:focus{
	border: 3px solid #65bdfc;
	
}

.register-form {
	max-width:450px;
	margin: 0 auto;
	padding: 45px 0;
	border: 2px solid rgba(0,0,0,0.3);
}


.input-group-icon{
	background-color:#d9dcde;
	width:40px;
	text-align: center;
	
}

.register-form .fa {
	font-size: 20px;
	}

.register-form .fa-paper-plane{
	font-size: 19px;
	}

.form-group-signup {
	
}










body{
    background-color: rgb(244,239,241);
    background-color: radial-gradient(circle, rgba(244,239,241,1) 0%, rgba(238,174,202,1) 96%);	
}




