/* body{
		 background-image:url('https://images.unsplash.com/photo-1534265618661-adfe32dfe515?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60'); 
		 background-size: cover; 
		 background-position: center;
		 background-repeat: no-repeat;
}
 */
#desc{
	font-family: 'Patrick Hand', cursive;
}

#brandBtn {
	color: white;
	background-color: black;
	font-size: 25px;
	font-family: 'Piedra', cursive;
	padding: 3px 6px;
}

#edititem{
	color:#007bff;
}

#addnewitem{
	margin-left: 225px;
}


#content{
	margin-top: 20px;
    width: 80%;
    float: left;
    position: relative;
    z-index: 2;
}

.pagename {
		text-shadow: 1px 1px 1px #797b7d;
		color: black;
	}
.deletebtn{
	display: inline;
}

.img-thumbnail{
	width: 30%;
	float: left;
	margin: 6px 12px;
}


/* .bought{
	color: grey;
	opacity: 0.5;
} */



.navbar-light .navbar-nav .nav-link {
	color: black;
}


.navlinkhover {
	font-size:17px;
}

.btn {
	font-family: 'Chelsea Market', cursive;
}

.top{
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	font-size: 20px;
}

.price {
	color:#f05dce;
}

.login {
	width: 90px;
}

.signup {
	width: 90px;
}


.username, .password {
	width: 300px;
	margin-left: 120px;
}

.username:focus , .password:focus{
	border: 3px solid #65bdfc;
	
}

.register-form {
	max-width:450px;
	margin: 0 auto;
	padding: 45px 0;
	border: 2px solid rgba(0,0,0,0.3);
}


.input-group-icon{
	background-color:#d9dcde;
	width:40px;
	text-align: center;
	
}

.register-form .fa {
	font-size: 20px;
	}

.register-form .fa-paper-plane{
	font-size: 19px;
	}

.sidebar{
	padding: 20px 10px 0px 10px;
    text-transform: uppercase;
    text-align: right;
    float: left;
    width: 15%;
	
}


.sidebar a{
	color:red;
}

.customcontainer{
	width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;	
}   

body{
    background-color: rgb(244,239,241);
    background-color: radial-gradient(circle, rgba(244,239,241,1) 0%, rgba(238,174,202,1) 96%);	
}

h1{
	font-family: 'Bangers', cursive;	
}






